* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  background-color: #985f5f;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 15px 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f39c12;
}

.section {
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
}

.hero {
  background: url('https://media.istockphoto.com/id/2170987082/photo/a-close-up-view-of-a-womans-hand-reaching-for-a-plate-of-vegan-deep-fried-tofu-in-a-cozy.webp?b=1&s=612x612&w=0&k=20&c=aqQCB-UsyIfB7gH_eLqTZb7KIkEVtbzLTi1s3dGKunQ=')no-repeat center center/cover;
  
  color: white;
}

.hero .content {
  background-color: rgba(203, 76, 76, 0.5);
  padding: 50px;
  border-radius: 10px;
}

.content img {
  margin-top: 10%;
  max-width: 80%;
  border-radius: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery img {
  width: 300px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.contact-form {
  max-width: 600px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #0077cc;
}

.contact-form button {
  padding: 12px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #005fa3;
}


footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #f39c12;
  transform: scale(1.2);
}

